[2020-01-22 20:39] wisecg opened #37 "The "trim" option in analysis.histograms.get_hist is a bad idea"
We need to remove the "trim" option from the
[`get_hist` convenience function:](https://github.com/legend-exp/pygama/blob/master/pygama/analysis/histograms.py#L12)

@jasondet pointed this out.  It can lead to errors in mistaking bin edges for bin centers, i.e. "binning is wrong by half a bin on the x-axis."

To resolve this issue:
- We should fix the convenience function get_hist to remove the "tr

[2020-01-26 23:38] wisecg opened #38 ""sh" is messed up from pygama.utils"
https://github.com/legend-exp/pygama/blob/fcdd95831dda9f0afe8330ca526ef44545c2c594/pygama/utils.py#L30

[2020-03-26 10:52] jasondet commented on #37
Looks like it was never set to true:
`
jasondet@Jasons-MBP pygama % grep -r "trim=" *
apps/optimizer.py:        hE, xE, vE = ph.get_hist(t2df["e_ftp"], bins=1000, trim=False)
apps/calibration.py:        hE, xE, vE = ph.get_hist(t2df[ecal], range=(xlo, xhi), dx=xpb, trim=False)
experiments/mj60/optimizer.py:        hE, xE, vE = ph.get_hist(t2df["e_ftp"], range=(xlo, xhi), dx=xpb, trim=False)
pygama

[2020-03-26 10:55] jasondet commented on #38
Oh yeah, that function looks messed up. we should just remove it and use standard python packages (esp. subprocess.run()) to call shell commands from within python code

[2021-02-08 12:48] mmatteo opened #130 "Exception Handling in ProcessingChain"
Can the ProcessingChain handle exceptions raised by the processors?

If a processor fails for a waveform, all processors depending on it should be skipped. I would also store a failedFlag in the dsp tier to summarize the exit status of all processors.

What do you think?

[2021-02-08 14:43] iguinn commented on #130
Hey Matteo,
Thanks for raising this issue! This is still something that needs work. Right now, an exception should stop the full run, which will almost never be the desired behavior (perhaps if there is a case where a processor would just always fail this would make sense?). I believe that numba will properly throw the python exceptions if they occur in processors, so the solution is just going to

[2021-02-08 15:33] mmatteo commented on #130
@iguinn, thanks for the explanation. PR #129 contains an example of a processor that will fail for low energy events. The processor is supposed to compute the log of the samples and, before running, it checks that the value of all samples is positive. @ggmarshall's implementation returns a np.nan waveform if there are negative sample. Is this what we want?

[2021-02-09 19:41] jasondet commented on #37
removed it.

[2021-02-09 19:41] #37 closed

[2021-02-09 19:45] jasondet commented on #130
I would prefer a different approach, which is to require that no processor should raise an exception for valid input data. It's better to keep problems from happening in the first place than to take a more lax approach and just try to catch them. Is the functionality of PR #129 worth jettisoning guaranteed validity?

[2021-02-09 21:18] mmatteo commented on #130
@jasondet, I think it is normal that a processor might not be able to return a meaningful result for some classes of events. For instance, most of the current processor will have trouble with low energy events. The leading-edge trigger cannot find a trigger if there is no pulse and, in this case, any module depending on it -- e.g. the fixed time pickoff -- should not run.

[2021-02-09 21:40] jasondet commented on #130
@mmatteo again, I would rather have fully populated output tables and check for strange values afterwards rather than have tables with values missing or rows skipped for some of the parameters.

Or maybe I don't understand your recommendation. Considering your example -- if we are running a fixed time pickoff and expecting its output to be in the output table, what goes in the output table to hold

[2021-02-09 21:48] mmatteo commented on #130
@jasondet, why don't  we give a default value (e.g. nan) to the parameters declared in the output block? In this way, the parameters will have the default value if a processor does not run. I think we need to flag somehow values obtained by processors which "failed".

The alternative would be that each processor gives a special value to the output parameters when its internal conditions are not me

[2021-02-12 13:02] mmatteo commented on #130
I summarize here the outcome of the discussion at the analysis call. For the moment, a processor that is not able to return a meaningful output (e.g. when the trigger processor does not find a trigger) will turn NaN values.

I would leave the issue open while we test whether this approach works. @iguinn @jasondet @wisecg, is this okay?

[2021-02-12 13:21] mmatteo opened #137 "ProcessingChain - index/time conversion of inputs parameters"
I think we should be able to express the input parameters of a processor in the processingChain using time units. A config file should not depend on the sampling frequency. It would be great if also slicing operations could be performed using time values, e.g. not `waveform[0:800]` but `waveform[0:12.8*us]`

[2021-02-12 15:18] ggmarshall opened #138 "Processor List Conventions"
Hi, would it be good to start having some conventions for the processor list json files to make them easier to read and compare. I think most of them currently use 'wf_' for full waveform transforms and 'tp_' for time parameters. Is this worth formalising and extending to other objects so that you can quickly see what is being output by each processor?

[2021-02-12 16:46] jasondet commented on #130
Yes let's leave this here until it is tested. The goal is to ensure that a processor computes all NaN output for NaN on any input, and enforce it by a generic unit test that cycles through processors and their arguments sending NaN to each and checking that the output is NaN.

[2021-02-12 17:15] iguinn commented on #137
Hi Matteo,
The decision was deliberate that processor inputs do not have units, and that units are handled by the ProcessingChain object instead. The reason for this is that the ufunc interface that numba uses (and that numpy processors use) doesn't easily accept units; we also wanted to keep the processors as simple as possible and avoid those kinds of conversions.

However, the ProcessingChain w

[2021-02-12 17:29] iguinn commented on #138
Yes, I agree. Obviously, we cannot force this, but we should write up a JSON format specification somewhere were we can include these recommendations (and so that people can lookup what everything means!)

We may also want to have some conventions for naming processors. We should adopt Jason's suggested convention for documenting them as well (I've been meaning to go through and do this for existi

[2021-02-12 17:31] mmatteo commented on #137
Thanks a lot, @iguinn. This is very useful. We'll give it a try.

What does it happen if the conversion does not correspond exactly to one index? For instance, we try to slice `[0:20*ns]` but the wf is sampled at 16 ns?

[2021-02-12 17:34] mmatteo commented on #138
I like your idea. If we name all trap filter with trasp_somethingelse, it would be obvious to search for them into a trap.json file

[2021-02-12 17:34] iguinn commented on #137
For int inputs, it rounds. Flooring is not preferred because some times floating point error can result in things like 16*ns being converted to 0.99999998 or something like that.

[2021-02-12 19:06] wisecg commented on #138
@iguinn @ggmarshall  I agree that `processors.py` is the best way to trace down what's being called from a JSON file.  Of course not everybody knows to look in that file and people often just end up browsing the list on GitHub.

I really like the idea of drafting a short formal specification for what we want to put into the JSON files.  We should just make a short Markdown (README.md) file and put

[2021-02-15 15:19] jasondet opened #140 "pygama.__version__ should automatically report the right version"
It currently return 0.1.0 and it should be 0.5.

This was found by Mariia. Currently it has to be hard-coded. Clint's fix here did not fix it:
https://github.com/legend-exp/pygama/pull/139

Should be made automatic, pulling tag info from git.

[2021-02-15 15:36] mwillers commented on #140
I think we can not assume that the git information is present when installing pygama (i.e. if the code is downloaded directly from github as a zip file).

[2021-02-15 16:02] jasondet commented on #140
Ahh good point @mwillers . The tag name comes down in the zip file but there's no clean way to pull that into the code. We could have setup.py
- attempt to use git to retrieve it (@iguinn says this is not possible but it feels to me like it should be)
- failing that, try to take it from the repo directory name (assuming the user didn't `mv pygama-[tag] pygama`)
- failing that, query the user for i

[2021-02-18 18:41] mmatteo opened #141 "change condition in time_point_thresh processor"
https://github.com/legend-exp/pygama/blob/86c68084d631856d44b85e29ceca4ef0e98f7c50/pygama/dsp/_processors/time_point_thresh.py#L17

I think the condition above should be extended to include the case in which `wf_in[i]=threshold`. I would also return a nan if the condition is not met. This would be the new piece of code:
[code]

[2021-02-18 18:54] mmatteo commented on #141
P.S. I open an issue instead of a PR to discuss the general concept. I can open a PR to change all processors affected after we agree.

[2021-02-19 15:10] mwillers opened #142 "fcdaq.py: f_out set to empty string if len(raw_files) == 1"
f_out is set to an empty string (https://github.com/legend-exp/pygama/blob/master/pygama/io/fcdaq.py#L361)
if the length of raw_files equals 1

[code]

[2021-02-19 15:24] mwillers opened #143 "lh5_dir_setup() creates directory structure wrong"
it creates a directory structure that follows `/raw/phy/geds` instead of `/raw/geds/phy` (which is the format written by the fc converter)

[code]

should be

[code]

[2021-02-24 22:33] wisecg commented on #142
Your PR looks OK to me, I'm going to merge it.

[2021-02-24 22:34] #142 closed

[2021-02-24 22:34] #143 closed

[2021-02-25 23:17] sweigart opened #152 "How to control when a progress bar is printed"
https://github.com/legend-exp/pygama/blob/ee80959d1944de92defacd5249fbdfb96e64c7a8/pygama/io/fcdaq.py#L451-L455
https://github.com/legend-exp/pygama/blob/ee80959d1944de92defacd5249fbdfb96e64c7a8/pygama/io/fcdaq.py#L502-L504

The `verbose` argument in `process_flashcam` conveniently controls whether extra information is printed out.  It also controls the printout of a progress bar (see the code sni

[2021-03-01 08:55] mmatteo commented on #137
@iguinn, is it possible to dump a warning message when the time parameters is not a multiple of the sampling period? I think the user should know whether the parameters parsed through the JSON file are modified by the priocessing chain as a result of the cast from continuous to a discrete scale.

[2021-03-01 20:13] iguinn commented on #137
Hey Matteo,
That's a good idea, I'll add something that checks if the results of a round are too far away from the result (like .00001 or something)
Ian

[2021-03-02 09:17] mmatteo commented on #137
It sounds good. I leave the issue open. Please close it once this feature has been implemented

[2021-03-02 16:09] jasondet commented on #38
removed in refactor branch.

[2021-03-02 16:09] #38 closed

[2021-03-02 16:15] iguinn opened #154 "Managing file I/O and Overwrites"
This is a continuation of a conversation from pull request 153 https://github.com/legend-exp/pygama/pull/153
Summary:
@sweigart made the overwrite option act as expected for raw_to_dsp. However, ultimately we want to make a few more changes:

1. Be able to overwrite only specific fields in an HDF5 table. According to @jasondet "proper overwrite (at the file as well as dataset level) is now impleme

[2021-03-02 16:27] iguinn commented on #154
About handling IO in the dataflow manager: right now we do not read/write the entire files all at once, but in chunks of ~3000 waveforms at a time. As a result, it's not clear to me how a raw_to_dsp as a table_in to table_out function will work. The current pseudocode for raw_to_dsp is:
`Make input table based on contents of input file (but don't read it yet!)
 Make processing chain and output tab

[2021-03-04 16:31] iguinn opened #155 "Processors with variable numbers of outputs"
For some processors we want to have a variable number of outputs. For example, a pileup processor will want to find multiple trap-maxes; @jasondet's and @SamuelBorden also want to find multiple maxes and threshold crossings for SiPM data.

The way ProcessingChain and the gufunc interface works, we want to have fixed size arrays for all inputs and outputs; we also, as a matter of principle, are try

[2021-04-02 18:40] sweigart commented on #130
What do we want to do for the "fixed_time_pickoff" processor?  I've found cases where the tp_0 is very late into the waveform due to pileup.  The index for the fixed-time pickoff can, in turn, be larger than the length of the waveform.  This condition is currently not checked for.  In such cases, do we just want to output NaN, or do we want to do something like min(tp_0+offset, last sample) for th

[2021-04-08 08:39] mmatteo commented on #130
@sweigart, that's right. There are several processors that require a few changed. I have been waiting for @iguinn to implement a general function to handle this kind of exceptions. @iguinn, any update about this issue?

[2021-04-08 17:27] jasondet commented on #155
@iguinn I like your idea in (3) except for the extra work part, which stems from the fact that it requires a different "structure" than the other processors. Is that a disadvantage as well? Or I suppose we already have processors with different structures, so this is just something that we would need to just code on a processor-by-processor basis?

If there's a structural issue I would instead lea

[2021-04-08 17:29] jasondet commented on #130
As to @sweigart's specific question, I can imagine applications that would want either return value. For example, if you want "proper" E estimation, you don't want the pickoff time to float around, so NaN would be appropriate. On the other hand, if you just want an approximation of a pileup event energy, you want it to work for as late as the rising edge appears in the waveform, so you might want

[2021-04-08 17:34] jasondet commented on #141
I agree with this.

[2021-04-08 17:41] jasondet commented on #152
I like the "bar=False" option.

Another option is to use verbosity levels like we do elsewhere, except then you wouldn't be able to simultaneously support full verbosity but no bar as well as bar on but minimal verbosity.

Another option -- one common terminology for this sort of issue in general is "batch" vs. "interactive" running. We could make a more generic parameter "batch" which would silen

[2021-04-08 17:48] jasondet commented on #154
These should both be handled with the refactor. Let's keep this open then come back to it then.

[2021-04-08 19:26] iguinn commented on #155
For either approach, we will have to write at least some extra processors, that return the number of values found (see the pseudo-code example above). The big disadvantage of approach (3), is that it would also require that the processors that take in the outputs of these would also require extra processors. For example:
[code]
would also need
[code]

If we use the padding approach, on the other h

[2021-04-08 20:05] mmatteo commented on #141
thank @jasondet, I'll start reviewing the processors next week to fix all this issues

[2021-04-22 22:06] iguinn commented on #130
I've just submitted a pull request to at least partially address this. This adds the DSPFatal error that can be raised in a processor to abort processing. When this is thrown, it will also print some information about when it was thrown. This should be directly raised by the processor (i.e., no function for checking; this is due to a limitation of numba).

For errors where we do not want to abort,

[2021-04-23 17:29] mmatteo commented on #130
Thank you very much @iguinn. @jasondet @wisecg are you okay with your proposal?

[2021-04-23 20:34] wisecg commented on #130
Thanks Ian and Matteo.   I definitely agree that NaN/float handling is a lot simpler than the other two alternatives, since they would both require some unpleasant digging into Numba for not a lot of benefit.

I'm ready to merge Ian's PR for this issue to the dev branch: https://github.com/legend-exp/pygama/pull/158

@jasondet any final comments before we merge?

[2021-04-24 18:10] wisecg commented on #130
Okay, merged it.

[2021-04-24 18:10] #130 closed

[2021-07-30 20:59] sweigart opened #176 "Multiple store.write_object calls"
When the `write_object` function of the `Store` class is run multiple times, I find that the "datatype" attribute of the HDF5 group is not updated after the first function call.  This causes a subsequent `read_object` call to read out only what was written with the first `write_object` call.  Here's an example:

[code]

Here only the `dset1` dataset was read with `read_object` call, and, by openin

[2021-08-04 14:13] gipert opened #178 "Minimum supported Python version"
I realized that CI builds with Python versions 3.5 and 3.6 fail because of the `h5py>=3.2.0` constraint being unsatisfiable. Should we now explicitly support Python >= 3.7?

[2021-08-04 14:27] gipert commented on #140
Trying to deduce version info from Git or else is usually a pain and easily breaks in many scenarios. I've seen most projects just updating it by hand in the config file when a new version is released – I think that's the safest option.

[2021-08-06 17:24] iguinn commented on #178
Yes. There was some conversation in rocket chat a while back about making 3.7 the minimum; there are some other features that got introduced with 3.7 that people are using as well.

[2021-08-06 17:28] gipert commented on #178
Ok, then this line here:

https://github.com/legend-exp/pygama/blob/master/.github/workflows/main.yml#L21

should be updated.

[2021-09-07 21:50] #178 closed

[2021-09-20 15:01] gipert opened #195 "`WaveformBrowser` and algebra in processors `args`"
I don't understand how this is possible, since both `WaveformBrowser` and `raw_to_daq` use `build_processing_chain`, but if I have the following block in my DSP config:
[code]
`raw_to_daq` works without complaining, while `WaveformBrowser` throws:
[code]
So my questions are:
1. Does pygama support basic algebra in processor arguments supplied via JSON?
2. If yes, what's causes this behaviour?

[2021-09-20 19:34] iguinn commented on #195
Hey Luigi,
Yes, pygama supports this. This can be fixed by getting rid of the prereqs argument, since the prereqs can now be automated. I'd actually recommend against using prereqs anywhere.

The cause of this very puzzling and unhelpful error message is that bl_std is not included as a prereq, meaning that its processor is never run, and the variable is never added to the processing chain. As a r

[2021-09-20 19:54] gipert commented on #195
Nasty! Indeed, I tried to debug it a bit by myself but the fix was definitely hard to realize. Thanks a lot Ian!

[2021-09-20 19:54] #195 closed

[2021-09-22 21:35] gipert opened #196 "Support passing `None` to processors via JSON config"
We should make sure we support passing `None` as a processor argument in DSP config files. Currently, this
[code]
Fails with
[code]
While the JSON-supported `null` gives:
[code]

[2021-09-22 22:09] gipert opened #197 "Bug: passing `dtypes` as processor arguments in DSP config files"
Passing `dtypes` as processor arguments in DSP config files seems broken. The following
[code]
raises a `TypeError: Cannot construct a dtype from an array from cumsum` (same with e.g. `"'f'"`).

As a partial workaround, the following seems to work:
[code]

[2021-09-22 22:16] gipert opened #198 "Support processor functions where the output is not the last positional argument"
[`scipy.ndimage.gaussian_filter1d`](https://github.com/scipy/scipy/blob/v1.6.0/scipy/ndimage/filters.py#L211-L260)'s prototype is `gaussian_filter1d(input, sigma, axis=-1, order=0, output=None, mode="reflect", cval=0.0, truncate=4.0)`. At present, there's no way to use it as a processor, unless all arguments after `output` are left unspecified:
[code]

[2021-10-21 11:37] gipert opened #200 "`daq_to_raw` segmentation fault at legend-login.lngs.infn.it"
Something weird happens when I try to generate raw files for the latest SiPM data on legend-login.lngs.infn.it:
[code]
Seems to be somehow related to legend-login, since I don't get the error on e.g. lfs1.mpi-hd.mpg.de. Ideas?

[2021-11-09 18:05] rosannadeckert opened #204 "Bug: file too big?"
When I run my script on this dsp data I get a bug because the file is somehow to big...
[code]

[2021-11-10 19:26] gipert commented on #204
CC @ninaburlac

[2021-11-11 22:06] wcpettus opened #205 "orcadaq io error"
file_size is a float and will crash `daq2raw` because it eventually gets used in a `range`; recast here?
https://github.com/legend-exp/pygama/blob/master/pygama/io/orcadaq.py#L355

[code]

[2021-11-12 08:42] gipert commented on #205
Regression introduced by #203

[2021-11-12 19:24] wisecg commented on #205
I just put in a change to the master branch to fix this.  Will also propagate it to the dev branch.

[2021-11-12 19:29] wisecg commented on #205
Done

[2021-11-12 19:43] #205 closed

[2021-11-13 08:36] rosannadeckert commented on #204
Hi Jason, thanks for your answer. I tried to use `idx_list `but it seems that it is not implemented in pygama yet...

[2021-11-15 16:31] jasondet commented on #204
🤦‍♂️

I'll go implement it.

[2021-11-15 17:56] #204 closed

[2021-11-15 17:56] jasondet commented on #204
ok the fix has been implemented and merged into the master branch.

[2021-11-15 21:23] wcpettus commented on #205
missed one:
https://github.com/legend-exp/pygama/blob/master/pygama/io/orcadaq.py#L356
please re-open

[2021-12-02 06:55] oschulz opened #218 "Support numba v0.54.0"
pygama currently limits numba<=0.52.0, this blocks updating to Anaconda 2021.11 which [provides numba v0.54.1](https://docs.anaconda.com/anaconda/packages/py3.9_linux-64/).

[2021-12-02 09:39] oschulz commented on #218
@gipert pointed out the the numba version limite was introduced in #193 due to numba/numba#7402.

That numba issue has been fixed in numba/numba#7403, but it's tagged with the numba v0.55 milestone, so it may be a while before it's release.

Can we work around numba/numba#7402? Would be annoying if this would block us from supporting current Anaconda releases.

[2021-12-02 10:06] oschulz commented on #218
Numba v0.52.0 is not compatible with Python v3.9.0, so this blocks using Python 3.9 in general.

[2021-12-02 14:37] iguinn commented on #218
I don't think there is a simple workaround for this. The problem is that they accidentally removed some of the important information about the function signature that is expected from @guvectorize. We could work around this by manually adding this information to each processor, but this would be a lot of work and would introduce a lot of opportunity for errors. Numba seems to be on a ~6 month rele

[2021-12-03 00:21] wisecg commented on #218
It's really not a high priority IMO.  @oschulz  is right that we should have a software stack flexible enough to build pygama along with some of our other requirements.  I agree that we should just revisit this issue when numba 0.55 comes out, and stay with python 3.8 in the legend containers until then.

[2022-02-18 20:14] iguinn commented on #218
This has been resolved in this pull request: https://github.com/legend-exp/pygama/pull/227. While we still can't support v0.54 or v0.53, we do support all other versions

[2022-02-18 20:14] #218 closed

[2022-02-18 20:18] #141 closed

[2022-02-18 20:19] #138 closed

[2022-02-18 20:20] iguinn commented on #140
Since we plan on switching our code organization to develop on the main branch and use tagging to note versions, we can hard-code in the version number and update by hand as part of the tagging procedure. I'm going to leave this open until we start doing that though...

[2022-02-18 20:21] #137 closed

[2022-02-18 20:27] iguinn commented on #155
Update on this issue: We have a solution for this, with the get_multi_local_extrema  (https://github.com/legend-exp/pygama/blob/master/pygama/dsp/_processors/get_multi_local_extrema.py) processor as a good example.

However, for outputting vector-of-vector parameters there is still some work to be done. I have started on this process in the refactor branch, but it still needs some work...

[2022-02-18 20:52] iguinn commented on #196
This should be solved in the refactor branch

[2022-02-28 19:15] SamuelBorden opened #235 "Passing user-created data into processing chain"
For some processors we want to load in specific data that the user has created. For example, for a Wiener filter we want to pass a superpulse that the user has made using whatever superpulse building code they want. I have already talked with @iguinn and he has identified at least two ways to do this:

1. >  Put a json-array of the values into the DB file. I'm not 100% sure this is supported yet b

[2022-02-28 20:08] mmatteo commented on #235
how would you parse info such as wf length, sampling period and time offset in option 2?

[2022-02-28 20:31] wisecg commented on #235
I like Approach 2 a lot more.  Keep the DSP files human-readable and relatively small, and just specify auxiliary information to be read in by filename

@mmatteo One way Sam can do this is as follows -- Each function called by processing chain has an "initialize" step where we can read in values from a database, etc, before the main processing loop begins.   Each function which needs to read in a

[2022-02-28 21:56] iguinn commented on #235
Yeah, I agree with Clint I think. To get more granular, what it would look like, is Sam would write a factory-function that takes as an input a filename, reads in an array (and this could in theory have whatever format he wants, but it may make sense for us to come up with a standardized way to do this), and then guvectorize compiles a function around it that takes a waveform as an input and spits

[2022-03-09 15:51] jasondet commented on #152
Clint? check this with new progress bar.

[2022-03-09 15:52] jasondet commented on #176
Jason take a look in refactor

[2022-03-09 15:53] jasondet commented on #197
Should be solved on refactor, Ian to check it.

[2022-03-09 15:56] jasondet commented on #198
maybe create a dummy / wrapper function? or "processor_kwargs"-like field?

Ian to think about.

[2022-03-23 14:43] jasondet commented on #235
Looks like the Wiener filter solution will work, marking this closed.

[2022-03-23 14:43] #235 closed

[2022-03-24 10:06] gipert opened #240 "Project documentation"
I'm posting a to-do list here. I'll keep it up-to-date.

- [ ] Regenerate .rst files on all relevant branches (main, refactor and maybe latest tag)
- [ ] Fix all warning/errors reported by Sphinx (help me)
- [ ] Add all missing docstrings (help me)
- [ ] Include more general guides (eg how to run the full chain) as module docstrings (help me)
- [ ] Let one CI job fail if there are Sphinx errors/wa

[2022-03-24 10:29] gipert opened #241 "Unit testing"
Here's a to-do list, I'll kep it up-to-date. Most of this will be implemented on the `refactor` branch only.

- [ ] Add micro-tests for each module/function separately
- [ ] Test each processor separately by using a pulse injector
- [ ] Add high-level tests of the full production chain by using real data from https://github.com/legend-exp/legend-testdata
- [ ] Test in new LEGEND Ubuntu container
-

[2022-03-24 10:38] gipert opened #242 "Project packaging"
Here's a to-do list, I'll keep it up-to-date. Good reference: https://scikit-hep.org/developer

- [x] Switch to more modern packaging practices: `pyproject.toml` (and `setup.cfg` + `setup.py`, if needed)
- [x] Do we want to publish the package on PyPI? This could be done automatically with GitHub actions
- [ ] Do we need to be more careful about licensing?
- [x] Add Dependabot (https://github.com/

[2022-03-30 13:55] gipert opened #246 "Use the `logging` module instead of `print()`"
We should make use of the `logging` module instead of just `print()`ing to the standard output. It's very simple to use and adds a lot of functionality. Docs are [here](https://docs.python.org/3/howto/logging.html).

[2022-04-01 13:57] iguinn commented on #196
This has been tested and is confirmed to work on the refactor branch

[2022-04-01 13:58] iguinn commented on #197
This has been tested and works on the refactor branch.

[2022-04-01 14:06] iguinn commented on #198
This has been added on the refactor branch. The way it works is that in args you can pass an arg as an assignment equation, e.g.:
`"args": ["wf_blsub", "0.1*us", "out=wf_gaus"]`
The kwargs field is still reserved for key word arguments to the add_processor function including signature and types. In this case, you will have to pass these arguments, with size and type signatures pointing to the kwar

[2022-04-01 14:15] gipert commented on #198
Neat! Thanks Ian for adding this. I think we now support a wide range of third-party processors. We should add test cases for all these resolved issues, once we have a pulse generator.

[2022-04-01 14:27] iguinn opened #249 "DSP processors raising errors if float arguments are not integers (refactor branch)"
Many of our processors take timing arguments as floats, but then check to make sure they are exact integers. For example:
[code]
Right now, the way we handle this in the dsp config files is to call round (e.g. `round(1*us)`) which prevents these from being raised.

However, this causes problems on the refactor branch, where we no longer have a single clock frequency that all unit-values are refere

[2022-04-01 15:11] iguinn commented on #249
Based on slack discussion, here's an illustrative example. Say we pass `1*us` to a processor that expects a period of `10*ns`. Since this is a non-trivial unit conversion, it gets converted to 999.9999999999999. To see this try:
[code]
As is: `round(1*us)` fails because it doesn't know what to convert it to; you would have to manually do the conversion as `round(1*us/wf.period)` which is not ideal

[2022-04-05 19:52] iguinn commented on #249
@ggmarshall helpfully pointed out in slack that we use floats in case of NaN's (as was discussed in a previous git issue). This is a problem for proposed solution 1.

However, for some processors (e.g. the trap filters), it may make sense to pass integers. In this case, the integration and flat top times are not calculated by other processors, so I don't think we need to preserve the ability to pa

[2022-04-06 16:02] iguinn opened #251 "Using RNG in DSP"
It could be useful to generate random numbers in a ProcessingChain. One use for this would be in pulse generation. An example of what such a processing chain config might look like is:
[code]

However, right now it's not clear what RNG processors we could use. The numpy.random generators to do not work with in place array filling. The same is true of the scipy.stats generators. Numba seems to have

[2022-04-28 09:13] gipert commented on #200
I cannot reproduce this anymore with the new Ubuntu-based container and same pygama version. I've now converted several GBs of FlashCam files with no errors so far. Let's hope it was a bug in some of our dependencies. Closing.

[2022-04-28 09:13] #200 closed

[2022-05-18 09:09] jasondet commented on #152
Left this as notes in the pygama trello, will follow up with this feature request there.

[2022-05-18 09:09] #152 closed

[2022-05-18 09:11] gipert commented on #152
Also related to #246

[2022-06-08 07:28] jasondet commented on #241
test installation doesn't work for me:
[code]
Also just running pytests fails:
[code]
@gipert can you take a look?

[2022-06-08 07:32] gipert commented on #241
This is zsh... you need to wrap `[]` in single quotes, like this: `pip install '.[tests]'`.

I've forgotten zsh is now the default shell on OSX.

[2022-06-08 15:50] jasondet commented on #241
ah that works! can you update the instructions?

incidentally, using the single quotes also works in bash... maybe make that the instruction?

also, the instructions should specify where to start from (i.e. `.'[test]'` inside the pygama dir, `pygama.'[test]'` from the dir containing pygama)

[2022-07-03 18:57] iguinn commented on #196
Now that refactor is merged, I'm closing this

[2022-07-03 18:57] #196 closed

[2022-07-03 18:57] iguinn commented on #197
Now that refactor is merged, I'm closing this

[2022-07-05 00:07] jasondet opened #307 "Make tutorials work on the refactored code"

[2022-07-05 08:20] gipert commented on #307
And make them use public data from https://github.com/legend-exp/legend-testdata

[2022-07-06 10:33] gipert commented on #198
@iguinn we support only numbers as keyword argument types, am I right? I'm trying to set `mode='reflect'` to `scipy.ndimage.gaussian_filter1d` but I get a
[code]
when instantiating `ProcessorManager`. How should non-numeric types be handled?

[2022-07-06 11:42] gipert commented on #198
Ah wait, it works if I make sure that the output argument is always last, like: `"waveform", "0.1*us", "mode='reflect'", "output=wf_gaus"`. Is it intended?

[2022-07-06 12:48] gipert commented on #198
I just realized the pygama version uses NumPy to perform the convolution. I assume this makes the processor more Numba-friendly. Correct?

[2022-07-12 14:04] gipert opened #315 "Software metadata in LH5 files"
We should consider storing software metadata relevant for data preservation consistently in all LH5 files. One thing could be certainly `pygama.__version__`, but I'm not sure whether also versions of some dependencies like NumPy or Numba would be relevant.

We should also retain the possibility to do checksum-based file comparisons. Storing things like file creation time would make this more diffi

[2022-07-12 14:14] gipert opened #316 "Plotting `numpy.ndarray` objects with `WaveformBrowser`"
The array-like output of some processors cannot be natively handled by the `WaveformBrowser` because of missing info about sampling period and offset (as instance `avg_current` or `upsampler`). A workaround is to explicitly set these values in the JSON spec, for example:
[code]
Maybe we can implement a mechanism to set default period and offset values, but we should at least document all this.

[2022-07-13 17:54] patgo25 opened #317 "`ProcessingChain`: `LH5Store` can't write out 1d arrays with custom length from `get_multi_local_extrema`"
Hi all,

maybe it's just me being stupid  but if I try to write out an array (e.g. from the get_multi_local_extrema processor)

[code]
I get the following error message:
[code]

this also happens for example if you would try to save the current waveform:
[code]
same message:
[code]

But it doesn't happen if the dimension doesn't change e.g.  when writing out the waveform after baseline subtraction

[2022-07-13 21:14] jasondet commented on #317
@iguinn can you take a look?

[2022-07-14 11:51] gipert commented on #317
I can also reproduce this, I guess the regression was introduced with the refactor (#224). We need this for the SiPM DSP.

[2022-07-14 17:28] patgo25 commented on #317
[`elif isinstance(obj, Array):`](https://github.com/legend-exp/pygama/blob/main/src/pygama/lgdo/lh5_store.py#L640) doesn't returns false for
[code]

is this correct?

[2022-07-15 13:10] patgo25 commented on #317
The changes to `ProcessingChain: LH5Store` in 32589d62013f8c06d8fc13e1f60fc58a4613247a
fix the issue (at least temporarily)

Seems that somewhere those array get initialized as an `np.ndarray` not as an [ `pygama.lgdo.array `](src/pygama/lgdo/array.py) those it doesn't get recognized in [`elif isinstance(obj, Array):`](https://github.com/legend-exp/pygama/blob/main/src/pygama/lgdo/lh5_store.py#L64

[2022-07-15 21:30] iguinn commented on #317
The ProcessingChain will automatically try to figure out how to format the output variables based on what information is given to it. The code is in `src/pygama/dsp/processing_chain` lines 444-455:
- A LGDOWaveform will be used only if the frequency/offset are defined. This is why the current is not being read out, as ProcessingChain will not automatically assign frequency/offset when the size of

[2022-07-18 11:02] patgo25 opened #319 "`Processing_chain` : `lh5Store` `load_nda` fails if waveform table"
Hi there,

again maybe its just me who is stupid, but:
`df = lh5.load_nda(file_raw, ['channel','waveform'],'spms/raw',idx_list=[*range(0,100)])`
results in error:
`AttributeError: 'WaveformTable' object has no attribute 'nda'`

But
`df = lh5.load_nda(file_raw, ['channel','waveform'],'spms/raw')`
~~works fine~~  also fails

for now I patchworked it with 97f2d80d09816f4ab77c7b355aee1604293b4c26

[2022-07-19 22:43] CJNave613 opened #321 "Installing pygama requires -e flag?"
I was helping an undergrad student install pygama and after having issues with Jupyter recognizing pygama modules, we deleted pygama from his home directory and re-cloned the repo. When trying to install pygama again via `pip install pygama --user`, we got the following error message:
`ERROR: could not find a version that satisfies the requirement pygama (from versions none)`
Eventually, we got th

[2022-07-21 15:21] patgo25 commented on #317
Thanks, @iguinn that fixed it!

[2022-07-21 15:21] #317 closed

[2022-07-21 15:24] patgo25 commented on #319
Also works now, thanks!

[2022-07-25 19:09] iguinn opened #325 "Interpolation modes in fixed_time_pickoff"
For the fixed_time_pickoff processor, the current behavior is to raise an exception and halt processing if we run into a non-integer index. This particularly creates a problem if we are using presumming or down-sampling to speed up the trap-filter, but fully-sampled waveform for t0, in which case we will often run into cases where the timepoint falls between trap-samples. After discussing with @mm

[2022-07-26 16:20] jasondet opened #327 "Inconsistent test results in github vs legend-base"
github is happy passing all tests. however in legend-base on the lngs server, the tests die on importing orca_packet with:

[code]

I suspect we are missing a required version dependency for annotations?

[2022-07-26 17:45] gipert commented on #327
Might be due to an incompatible numpy version... Will check and fix once I'm back online.

We had to disable testing with the container because our image is too heavy to be downloaded on the GitHub action runners

[2022-07-28 09:28] mmatteo opened #329 "pygama.egg-info"
Installing pygama generates a directory  (`pygama/src/pygama.egg-info` ) inside the repository. Do we need it?

I would like the installation step not to alter the input src directory.

[2022-08-01 11:43] gipert commented on #327
DSP tests are failing in the container:
[code]
and seems to be related to Pint.

CC @iguinn

[2022-08-01 15:06] gipert commented on #329
The directory contains metadata and is automatically generated by setuptools the install step. I'm not expert enough to say whether it is really needed (I read that Python eggs have been deprecated in favor of Python wheels) nor how to disable this behavior...

Anyways, Python notoriously adds a lot of junk to the package source (think about caches). At least this goes outside the real source fold

[2022-08-01 17:57] oschulz commented on #327
Do you mean reproduce with the current container, or an updated one with a current xarray?

[2022-08-01 18:00] gipert commented on #327
I mean with the latest container and the latest pygama commit (on `main`). You would need to first `pip install .[test]` and then `pytest`.

[2022-08-02 09:57] oschulz commented on #327
I can make that part of the container build, I think.

[2022-08-04 10:17] gipert commented on #327
Ok, so the test suite runs just fine? Can we close this?

[2022-08-04 10:18] gipert commented on #321
@CJNave613 is this still an issue?

[2022-08-04 14:33] #198 closed

[2022-08-04 21:04] oschulz commented on #327
Haven't run it yet, have to rebuild the containers first the next days.

[2022-08-08 19:27] CJNave613 commented on #321
@gipert Sorry, this slipped my mind. I'll give it a try this afternoon

[2022-08-09 00:32] CJNave613 commented on #321
I tried installing a new pygama instance on NERSC in my local directory and didn't have any issues excluding the `-e` flag (the install just defaulted to `pip install ./pygama`. I'm meeting with the student that was having this issue sometime this week so we can check if he still has the same problem or if specifying that it's a local directory fixes it. I'll report back here later this week. Than

[2022-08-15 11:15] jasondet opened #344 "weird sphinx-build behavior"
While investigating the build docs error in https://github.com/legend-exp/pygama/pull/341 I found that I can put the following lines anywhere in pygama (I tried e.g. lgdo/__init__.py)
[code]
and in an interactive python session it gives this expected output:
[code]
while during sphinx-build (which runs during `make` inside of the docs directory) it gives this nonsensical output:
[code]
Indeed, pri

[2022-08-25 19:48] #321 closed

[2022-09-02 16:13] gipert commented on #319
The problem is that many LGDOs do not have a trivial representation as NumPy arrays (i.e. they don't have an `nda` attribute). Returning `values.nda` for a `WaveformTable` instance would work only in some cases (if `values` isn't a `VectorOfVectors`) and anyways ignores the `dt` and `t0` attributes.

The right way to fix this is to implement a `convert(library='numpy')` method in every LGDO class

[2022-09-02 20:08] #246 closed

[2022-09-02 20:20] iguinn commented on #325
I have made an implementation of what we have discussed here: #360
- `fixed_sample_pickoff` has the old functionality of raising exceptions for non-integer time inputs
- `fixed_time_pickoff` has an extra argument `mode_in` that accepts a character. Current options are:
  - 'i': require integer index (same as fixed_sample_pickoff)
  - 'n': nearest-neighbor; round to nearest integer index
  - 'l': l

[2022-09-06 08:58] patgo25 opened #362 "`Table.eval()` converting table to dataframe makes it impossible to use with rows of e.g `ArrayOfEqualSizedArrays`"
[code]
Converts the table first into pandas dataframe, uses the pandas eval function and then converts it back to a table. This makes it impossible to use columns of e.g 'ArrayOfEqualSizedArrays'.

Why not use `numexpr `directly and apply it to the `nda` of the columns?
My temporary fix see [here](https://github.com/patgo25/pygama/compare/cherry_picking...patgo25:pygama:dev)

[2022-09-12 23:16] jasondet opened #366 "Update lgdo.Table.eval() signature"
Recommend to update the lgdo.Table.eval() signature as suggested here:

https://github.com/legend-exp/pygama/pull/363#issuecomment-1244089026

[2022-09-12 23:16] #362 closed

[2022-09-14 07:15] jasondet opened #370 "FlashCam (via ORCA) timestamps decoded incorrectly"
We need to fix how FC timestamps are decoded. Bits are being lost.

[2022-09-14 07:24] jasondet commented on #251
@iguinn [`numpy.round()`](https://numpy.org/doc/stable/reference/random/generated/numpy.random.Generator.random.html#numpy.random.Generator.random) does have an `out` argument that does in-place array filling, can't that do the job?

[2022-09-14 07:28] jasondet commented on #319
does it work if you do this?

`df = lh5.load_nda(file_raw, ['channel','waveform/values'],'spms/raw')`

[2022-09-14 09:02] patgo25 commented on #319
Thank you, Jason. This works.
So it was me, in the end, being stupid.

[2022-09-14 09:02] #319 closed

[2022-09-14 12:37] gipert opened #372 "Versioning for LEGEND data production"
The development of pygama is not necessarily dictated by LEGEND data production needs. Data production will typically rely on stable releases and will sometimes incorporate only certain commits from `main` (or even develop own patches), before switching to the latest stable release.

Maintaining parallel development lines is not optimal, but this is the price we have to pay if pygama wants to be l

[2022-09-14 13:58] jasondet commented on #319
not at all! glad we figured out an easier solution

[2022-09-14 14:55] jasondet commented on #370
Also need to get file keys / runtime / and timestamps in same time zone (UTC)

[2022-09-18 08:39] gipert commented on #251
I guess we will then wrap NumPy's `random` functions to include an `out` argument? Maybe we can also do it generically with meta-programming?

From the [Numba docs](https://numba.readthedocs.io/en/stable/reference/numpysupported.html?highlight=random#random), looks like their implementation is thread-safe (except when using `Generator`s).

To control random number sequences, as far as I understand

[2022-09-22 16:35] gipert commented on #370
@jasondet you said that the bug seems to be in fcutils as well?

CC @ssailer

[2022-09-22 16:36] #329 closed

[2022-09-23 10:17] #325 closed

[2022-09-25 19:55] ssailer commented on #370
Hi!

@jasondet Could you clarify what you meant by "bits are being lost"?

Unfortunately I did not follow the timestamp problem discussion in depth - some more clarification might be needed on my part. In any case, I did look at all relevant code parts and can give some feedback which might help clear up some problems.

Here are the 4 relevant code sections:
[Orca FlashCamADC Decoder](https://gith

[2022-10-05 14:55] patgo25 opened #388 "Histogram processor: No check of array sizes"
The histogram processor should check if the array size of borders is precisely one larger than the bin array size.

Everything else makes no sense anyhow and leads to strange crashes.

[2022-10-05 14:56] patgo25 commented on #388
@gipert you can assign this to me just need to find the time to fix it ;)

[2022-10-17 09:59] #344 closed

[2022-10-20 18:06] dcschaper opened #395 "nproc doesn't exist on MacOS; can't build docs with current Makefile"
https://github.com/legend-exp/pygama/blob/eb5363116ea8e4d592c6a66b38f3463bc3770bd7/docs/Makefile#L6

nproc doesn't exist on MacOS, so building using the default 'make' command fails with the present Makefile. Suggest removing the '-j$(shell nproc)' portion of the 'all' option to make this more streamlined for MacOS users.

[2022-10-20 18:22] slwatkins commented on #395
For macOS users, we can create an alias in our .zshrc files (quoting below), but I think that the build doesn't really need to done on multiple cores, seems like overkill.

[code]

[2022-10-20 19:32] dcschaper opened #396 "add version bound to pandas in setup.cfg"
https://github.com/legend-exp/pygama/blob/eb5363116ea8e4d592c6a66b38f3463bc3770bd7/setup.cfg#L42

Issue running Makefile in pygama/docs with pandas version 1.3 (due to AttributeError that was fixed in updated versions of pandas. See here for reference: https://github.com/rdkit/rdkit/issues/3701). Version 1.4.4 or higher worked. Suggest adding pandas version bound in setup.cfg file.

[2022-10-21 08:43] #395 closed

[2022-10-21 20:48] slwatkins commented on #241
What is the plan for unit tests and code coverage for numba-ized functions? (e.g. the processors) We can write unit tests, but because of the JIT compilation, the actual code itself is not counted as covered (see https://github.com/numba/numba/issues/4268).

Should we exclude these functions from the overall coverage? We should still write tests for them of course, but it doesn't seem like we woul

[2022-10-22 15:23] gipert commented on #241
Good point @slwatkins. What about disabling JIT in unit tests? Would that fix the problem?

[2022-10-24 10:41] oschulz commented on #327
pygama tests pass now in the legend-software container and are part of the container build.

[2022-10-24 10:41] #327 closed

[2022-10-24 20:44] slwatkins commented on #241
It looks like using `__wrapped__` works perfectly, as shown in #399. Right now, it requires the test-writer to effectively duplicate each line of code (we want to test that both the python and the numba versions have the same answers). Is there a more elegant solution?

Perhaps we can write a generic wrapper for a function that calculates the value using the numba and python versions, asserts that

[2022-10-24 21:18] iguinn commented on #249
With the addition of interpolation to the fixed time pickoff, I'd say this has been resolved.

[2022-10-24 21:18] #249 closed

[2022-10-24 22:48] slwatkins commented on #241
I just came across the `inspect.unwrap` function, perhaps this would be the way to go instead of using `__wrapped__`?

https://docs.python.org/3/library/inspect.html#inspect.unwrap

[2022-10-24 23:25] slwatkins commented on #241
I took a stab at something generic for testing numba versus python for the processors, the code is ugly right now (and the variables should probably be renamed), but it seems to work for the numbafied processors that have just the decorator (as opposed to functions like `cusp_filter`)

[code]

[2022-10-25 08:16] gipert commented on #241
Thumbs up! Can you open a PR with this? Maybe we merge #399 first.

[2022-10-25 13:36] slwatkins commented on #241
I'll clean it up a little bit, and open a PR - I can mark #399 as ready, and maybe we can update that test when we're happy with how we're testing these numba functions?

[2022-10-25 13:43] gipert commented on #241
Agreed.

[2022-10-25 13:52] gipert commented on #327
@oschulz why ignoring the deprecation warning?

https://github.com/legend-exp/legendexp_legend-software_img/blob/master/provisioning/install-sw-scripts/pygama-setup.sh#L20

I think the right solution would be to get a more recent xarray version, as I mentioned earlier in this thread: https://github.com/legend-exp/pygama/issues/327#issuecomment-1201148339. Isn't it possible?

[2022-10-26 07:21] oschulz commented on #327
Well, it would be nice to be able to go with regular Anaconda releases in general, and not always have to do specific updates for individual packages. Will this xarray thing result in reduced performance or is it just a pure deprecation warning?

As far as I know, `ignore::DeprecationWarning` is not uncommon in Python production testing.

[2022-10-26 07:29] gipert commented on #327
No, it's not a big issue. I agree we should stick to Anaconda stable releases, even if I don't like suppressing indiscriminately all deprecation warnings...

Let's hope it will go away by itself at some point.

[2022-10-26 07:33] oschulz commented on #327
Ok :-)

[2022-11-02 09:43] gipert opened #406 "`lh5_store.py` refactor"
We should split `lh5_store.py` in multiple files, It's pretty long now. I propose to:

- keep only `LH5Store` in `lh5_store.py`
- move `LH5Iterator` to `lh5_iterator.py`
- move functions like `ls`, `show`, `load_nda`, etc to `lh5_utils.py` (or just merge it with `lgdo_utils.py` and have only `utils.py`?)

All of them would be still imported in `__init__.py`, so little impact from the user perspect

[2022-11-18 21:49] jasondet opened #410 "seaborn deprecation"
A seaborn deprecation warning is causing all of the tests to fail and blocking PR merging. It's a seaborn deprecation warning in matplotlib, see e.g. [this test failure report](https://github.com/legend-exp/pygama/actions/runs/3448300565/jobs/5755198889).

In [PR 409](https://github.com/legend-exp/pygama/pull/409) I commented out the line in test_waveform_browser.py that specifies the seaborn styl

[2022-11-21 17:48] #410 closed